body{
    font-family: serif;
}

nav{
    margin: 20px 10px;
    font-size: 18px;
}

nav a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav form{
    display: inline;
    padding-left: 800px;
}

nav form input {
    border: 1px;
    padding: 10px 10px;
}

nav hr{
    color: lightblue;
}

.first{
    margin: 35px 0px;
    text-align: center;
}


.first p{
    text-align: center;
    color: gray;
    font-size: 16px;   
 }


 .image1{
  text-align: center;
 }

 .image1 img{
    max-width: 100%;
 }

 .image1 .centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;

}

 hr{
  opacity: 0.2;
 }

 .grid1 {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin: 0px 130px;

  }


  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .item1 img:hover{
    opacity: 0.8;
  }

  .item1 p{
    color: gray;
    font-size: 15px;

  }


  .item1 a{
    color: black;
    text-decoration: none;
    font-size: larger;

  }

  .item1 .extra .buttonn {
    position: absolute;
    top: 40%;
    left: 37%;
    opacity: 0;
  }

  .item1 .extra .buttonn button{
    padding: 10px 20px;
  }


  .item1 .extra:hover .buttonn{
    opacity: 1;
  }

  .item1 .extra:hover img{
    opacity: 0.7;
  }


  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
   
  }

  .item2 img:hover{
    opacity: 0.8;
  }


  .item2 p{
    color: gray;
    font-size: 15px;
  }
  
  .item2 a{
    color: gray;
    padding: 8px;
    font-size: large;
    text-decoration: none;
  }

  .item2 .icon{
    text-align: center;
  }

  .item2 input{
    border: 2px solid lightgray;
    padding: 5px 30px;
}
.item2 button{
    padding: 5px 5px;
    border: 2px solid lightgray;
    color: gray;
}

footer{
  margin: 0;
  padding: 50px;
}

footer a{
    color: black;
    font-size: large;
    text-decoration: none;
    margin: 5px 10px;
  }

.footerIcon{
  text-align: center;
}

.slidetext{
  margin: 0px 230px;
  font-size: 20px;
}

.contform{
  margin: 20px 80px;
}

.contform label{
  color: blueviolet;
  opacity: 0.8;
}

.contform input{
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
}

.contform textarea{
  border: 1px solid;

  border-radius: 20px;
}

.contform button{
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
}

.space{
  padding: 50px 50px;
}

.mainForm{
  background-image: url('https://img.freepik.com/free-vector/paper-style-3d-clouds-background-blue-sky_1017-38298.jpg?w=740&t=st=1720692557~exp=1720693157~hmac=a36bf1953c1a9a8519f7a9292e66b5c175eaa230885f46d215bceb14bff1b0d0');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  min-height: 400px;
}

.contactForm{
  display: flex;
  margin: 0px 80px;
}

.contactForm .firstCont {
  background: white;
  width: 50%;
  padding: 40px;
  margin: 0px 30px;
}

.contactForm .firstCont input, select {
  padding: 5px 0px;
  margin: 12px 0px;
  width: 100%;
  box-sizing: border-box;
}

.contactForm .secCont {
  
  width: 50%;
  padding: 20px;
}

.contactForm .secCont .fcont{
  margin: 0;
  padding: 0;
  background-color: white;
}


.contactForm .secCont .scont, .tcont{ 
  margin: 45px -20px; 
  padding: 30px; 
  background-color: white;
}

.contactForm .firstCont button{
  width: 100%;
}


.mainForm button{
  background-color: rgb(84, 84, 253);
  color: white;
  padding: 12px;
  border: none;
}

.fourth{
  margin: 0 auto;
  width: 70%;
}

.fourth img{
  float: left;
  margin-right: 30px;
  border-radius: 15px;
}

.fourth img:hover{
  width: 45%;
  margin: 24px;
  rotate: 10deg;
  transition: 1s ;
}
.fourth h3{
  font-size: 2rem;
}

.fourth p{
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 2px;
  font-style: normal;
}

