
*{
    margin: 0;
    padding: 0;
}

body {
background: rgb(153, 168, 150);
overflow-x: hidden;
}


.card {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, z-index 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 20px;
    background: #f0e8d5;
    /* overflow: hidden; */
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 0px 12px 5px lightgray;
}

.first, .second, .third, .sixth, .seventh, .eighth {
    width: 350px;
    height: 420px;
}

.fourth, .fifth {
    width: 400px;
    height: 420px;
}

.first { top: 35px; left: 105px; z-index: 2; }
.second { z-index: 3; }
.third { top: 75px; right: 105px; z-index: 4; }
.fourth { bottom: 120px; left: 230px; z-index: 5; }
.fifth { bottom: 55px; right: 85px; z-index: 6; }
.sixth { bottom: 255px; left: 105px; z-index: 7; }
.seventh { bottom: 195px; z-index: 8; }
.eighth { bottom: 255px; right: 105px; z-index: 9; }

@media (max-width: 992px) {
    .first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth {
        width: 100%;
        height: 450px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        margin-bottom: 30px;
    }
}


.gallery-img {
transition: transform 0.3s ease-in-out;
}

.gallery-img:hover {
transform: scale(1.1);
}

img {
width: 100%;
max-height: 400px;
margin-bottom: 10px;
object-fit: cover;
cursor: pointer;
}

/* Card-view fade-out  */
.fade-out {
animation: fadeOutShadow 0.5s forwards;
}

@keyframes fadeOutShadow {
0% {
    opacity: 1;
    transform: translateY(0);
}
100% {
    opacity: 0;
    transform: translateY(-20px); /* Cards move up slightly as they disappear */
}
}

/* Gallery-view fade-in effect */
.fade-in {
animation: fadeInGallery 0.5s forwards;
}

@keyframes fadeInGallery {
0% {
    opacity: 0;
    transform: scale(0.9); 
}
100% {
    opacity: 1;
    transform: scale(1); 
}
}

iframe {
width: 250%; 
height: 250%; 
transform: scale(0.4);
transform-origin: 0 0; 
border: none; 
}

.tv-screen {
height: 37vh;
}